:root {
  --primary-color: #5449e3;
  --primary-darkened-color: #2f22dc;
  --gray: #b2b2b2;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
}

.container {
  max-width: 1366px;
  height: 100%;

  margin: 0 auto;
}

.header {
  height: 100px;
}

.header_fixed {
  position: fixed;

  box-shadow: 0 4px 5px black;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

.header__left-side {
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo {
  display: block;

  width: 200px;

  margin-right: 40px;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.navbar__menu {
  display: flex;
  padding: 0;

  list-style: none;
}

.navbar__item {
  margin-right: 10px;
  padding: 10px 10px;

  cursor: pointer;
}

.navbar__item:hover .navbar__link {
  color: var(--primary-color);
}

.navbar__link {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.navbar__item:last-child {
  margin-right: 0;
}

.phone {
  vertical-align: middle;
  display: inline-block;

  color: var(--gray);
  font-size: 16px;
  text-decoration: none;
}

.phone svg {
  vertical-align: middle;

  margin-right: 5px;
}

.phone:hover {
  color: #838383;
}

.phone:hover #icon-phone {
  fill: #838383;
}

.header__phone {
  margin-right: 10px;
}

.button {
  width: 220px;
  height: 60px;
  border-radius: 10px;

  text-transform: uppercase;
  font-weight: bold;

  cursor: pointer;
}

.button_primary {
  background-color: var(--primary-color);
  border: 0;

  color: white;
}

.button_secondary {
  background-color: white;
  border: 2px solid var(--primary-color);

  color: var(--primary-color);
}

.button_white {
  color: var(--primary-color);

  background-color: #fff;
  border: none;
}

.button.button_primary:hover {
  background-color: var(--primary-darkened-color);

  transition: 0.2s ease-out;
}

.button.button_secondary:hover {
  color: white;
  background-color: var(--primary-color);

  transition: 0.2s ease-out;
}

.button_white:hover {
  color: var(--primary-darkened-color);
  font-weight: bold;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.main {
  position: relative;
  padding: 60px 0 20px;
}

.main__wrapper {
  padding-left: 72px;
  width: 1000px;
}

.main__title {
  font-size: 76px;
  position: relative;
}

.main__title::before {
  content: '';
  position: absolute;
  display: block;
  left: -72px;
  top: 0;
  bottom: 0;
  width: 42px;
  background-color: var(--primary-color);
}

.main__description {
  font-size: 24px;
}

.main__link {
  font-size: 24px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.title_white {
  color: #fff;
}

.advantages {
  padding-top: 50px;
}

.advantages__about-us {
  text-align: center;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 150px;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 350px;
}

.advantage__icon {
  position: relative;
}

.advantage__icon::before {
  content: '';

  position: absolute;
  left: -25px;
  top: -25px;

  display: block;
  width: 120px;
  height: 120px;

  background-color: var(--primary-color);
  border-radius: 50%;

  z-index: -1;
}

.advantage__icon img {
  width: 70px;
  height: 70px;
}

.advantage__title {
  margin-top: 45px;

  text-align: center;
  font-weight: bold;
}

.advantage__text {
  margin-top: 10px;

  text-align: center;
}

.reviews {
  padding: 120px 0 0 0;
}

.reviews__wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
}

.review {
  width: 400px;
  height: 350px;

  box-shadow: 2px 2px 10px var(--gray);
  border-radius: 5px;

  padding: 20px;
}

.review__info {
  display: grid;
  grid-template-areas:
    'ava name'
    'ava company';
  grid-template-columns: 75px 1fr;
  grid-gap: 0 20px;
}

.review__avatar {
  width: 75px;
  height: 75px;

  border-radius: 50%;

  grid-area: ava;
}

.review__name {
  grid-area: name;
  align-self: start;

  color: #777;
  font-style: italic;
  font-size: 20px;
}

.review__company {
  grid-area: company;
  align-self: end;

  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
}

.review__text {
  margin-top: 25px;
}

.contacts {
  padding-top: 120px;
}

.contacts__info {
  position: relative;

  margin-top: 50px;
}

.contacts__address {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 300px;
  height: 200px;

  background-color: var(--primary-color);
  padding: 80px 40px;

  color: #fff;

  z-index: 50;
}

.contacts__map {
  height: 400px;
  background-color: var(--gray);
  filter: grayscale(100%);
}

.request {
  padding: 30px 0;

  background-color: var(--primary-color);
}

.request__wrapper {
  display: flex;

  position: relative;
}

.request__form {
  width: 600px;
  color: rgb(255, 255, 255);
}

.request__image {
  position: absolute;
  right: 0;
  bottom: 0;

  border-radius: 50%;
  padding: 50px 50px 0 50px;
  background-color: #fff;
}

.request__image img {
  width: 550px;
}

.footer {
  padding: 30px 0;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 300px 250px 300px;
  grid-gap: 50px;
  align-items: center;
}

.footer__phone {
  color: #000;
}

.footer__phone:hover {
  font-weight: bold;
  color: #000;
}

/*MODAL WINDOW*/

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
}

.modal textarea {
  height: 100px;
}

.modal__content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 550px;
  border-radius: 10px;
}

.modal form {
  margin-top: 40px;
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  margin-top: 0em;
}

.input {
  display: block;
  background: #ffffff;
  font-size: 22px;
  line-height: 28px;
  padding: 6px 10px;
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s all;
  border: 1px solid #d7d7d7;
}

.form__row {
  margin-bottom: 20px;
}

.form__checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  margin-top: 10px;
}

.form__checkboxes input[type='checkbox'] {
  margin-right: 5px;
}

.form__textarea {
  height: 100px;

  resize: vertical;
}

.form__agreement-checkbox {
  margin-top: 30px;
}

.form__agreement-checkbox input[type='checkbox'] {
  margin-right: 5px;
}

.feedback__label {
  margin-bottom: 5px;
  letter-spacing: 0px;
}

/* END MODAL WINDOW*/

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main__request {
  margin-top: 70px;
}

.services {
  padding: 60px 0;
}

.services__title {
  text-align: center;
  font-size: 28px;
}

.services__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-gap: 40px 70px;

  margin-top: 60px;
}

.service {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 700px;
  height: 100%;

  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 15px -2px rgba(34, 60, 80, 0.25);
}

.service__image {
  margin: 0 auto;

  background-color: var(--gray);

  width: 100%;
  height: 400px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service__title {
  margin-top: 30px;
  padding: 0 20px;

  font-size: 20px;
  font-weight: bold;
}

.service__description {
  padding: 0 20px;
}

.service__price {
  font-size: 22px;
}

.service__digit {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 26px;
}

.service__button {
  margin-top: 20px;
}

/*
 * ANIMATION START
 */
.particle {
  position: absolute;
  border-radius: 50%;
}
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(26vw, 59vh, 92px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.5;
  height: 9px;
  width: 9px;
  animation-delay: -0.2s;
  transform: translate3d(75vw, 18vh, 95px);
  background: #32d926;
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(67vw, 1vh, 39px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.99;
  height: 7px;
  width: 7px;
  animation-delay: -0.4s;
  transform: translate3d(32vw, 24vh, 45px);
  background: #d926d0;
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(20vw, 8vh, 5px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.77;
  height: 7px;
  width: 7px;
  animation-delay: -0.6s;
  transform: translate3d(26vw, 46vh, 19px);
  background: #d926a3;
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(15vw, 40vh, 77px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.96;
  height: 9px;
  width: 9px;
  animation-delay: -0.8s;
  transform: translate3d(41vw, 47vh, 8px);
  background: #26cdd9;
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(82vw, 48vh, 70px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.39;
  height: 9px;
  width: 9px;
  animation-delay: -1s;
  transform: translate3d(44vw, 24vh, 89px);
  background: #2694d9;
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(79vw, 38vh, 53px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.18;
  height: 6px;
  width: 6px;
  animation-delay: -1.2s;
  transform: translate3d(36vw, 37vh, 100px);
  background: #7426d9;
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(83vw, 35vh, 86px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.71;
  height: 6px;
  width: 6px;
  animation-delay: -1.4s;
  transform: translate3d(30vw, 43vh, 25px);
  background: #26d997;
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(20vw, 48vh, 33px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.24;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(21vw, 20vh, 25px);
  background: #a926d9;
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(85vw, 29vh, 4px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.85;
  height: 9px;
  width: 9px;
  animation-delay: -1.8s;
  transform: translate3d(66vw, 52vh, 74px);
  background: #26d938;
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(78vw, 28vh, 53px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.41;
  height: 9px;
  width: 9px;
  animation-delay: -2s;
  transform: translate3d(36vw, 40vh, 24px);
  background: #d95926;
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(5vw, 32vh, 43px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.86;
  height: 9px;
  width: 9px;
  animation-delay: -2.2s;
  transform: translate3d(45vw, 8vh, 72px);
  background: #5926d9;
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(7vw, 27vh, 47px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.61;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(55vw, 53vh, 17px);
  background: #d926be;
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(80vw, 36vh, 2px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.82;
  height: 10px;
  width: 10px;
  animation-delay: -2.6s;
  transform: translate3d(10vw, 28vh, 68px);
  background: #d92697;
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(90vw, 39vh, 93px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.86;
  height: 10px;
  width: 10px;
  animation-delay: -2.8s;
  transform: translate3d(46vw, 13vh, 32px);
  background: #3bd926;
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(37vw, 37vh, 61px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.64;
  height: 7px;
  width: 7px;
  animation-delay: -3s;
  transform: translate3d(53vw, 21vh, 37px);
  background: #26d96e;
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(55vw, 32vh, 36px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.25;
  height: 10px;
  width: 10px;
  animation-delay: -3.2s;
  transform: translate3d(68vw, 23vh, 83px);
  background: #7ad926;
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(42vw, 26vh, 48px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.43;
  height: 8px;
  width: 8px;
  animation-delay: -3.4s;
  transform: translate3d(38vw, 27vh, 88px);
  background: #26d997;
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(50vw, 7vh, 33px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.48;
  height: 8px;
  width: 8px;
  animation-delay: -3.6s;
  transform: translate3d(40vw, 45vh, 25px);
  background: #263ed9;
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(61vw, 50vh, 30px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.01;
  height: 9px;
  width: 9px;
  animation-delay: -3.8s;
  transform: translate3d(50vw, 43vh, 87px);
  background: #d92653;
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(32vw, 17vh, 47px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.44;
  height: 7px;
  width: 7px;
  animation-delay: -4s;
  transform: translate3d(85vw, 14vh, 2px);
  background: #26d96b;
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(23vw, 33vh, 43px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.54;
  height: 7px;
  width: 7px;
  animation-delay: -4.2s;
  transform: translate3d(78vw, 26vh, 32px);
  background: #d9268b;
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(3vw, 28vh, 14px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.92;
  height: 9px;
  width: 9px;
  animation-delay: -4.4s;
  transform: translate3d(90vw, 31vh, 25px);
  background: #d92650;
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(5vw, 29vh, 96px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.79;
  height: 7px;
  width: 7px;
  animation-delay: -4.6s;
  transform: translate3d(29vw, 43vh, 28px);
  background: #a026d9;
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(35vw, 12vh, 39px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.94;
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(52vw, 25vh, 54px);
  background: #b8d926;
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(1vw, 22vh, 56px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.67;
  height: 10px;
  width: 10px;
  animation-delay: -5s;
  transform: translate3d(67vw, 43vh, 22px);
  background: #c426d9;
}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(52vw, 2vh, 13px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.21;
  height: 7px;
  width: 7px;
  animation-delay: -5.2s;
  transform: translate3d(57vw, 11vh, 67px);
  background: #d95326;
}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(31vw, 46vh, 84px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.01;
  height: 6px;
  width: 6px;
  animation-delay: -5.4s;
  transform: translate3d(8vw, 20vh, 14px);
  background: #26d9ca;
}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(81vw, 48vh, 11px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.86;
  height: 7px;
  width: 7px;
  animation-delay: -5.6s;
  transform: translate3d(19vw, 10vh, 88px);
  background: #af26d9;
}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(71vw, 12vh, 66px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.67;
  height: 8px;
  width: 8px;
  animation-delay: -5.8s;
  transform: translate3d(71vw, 42vh, 24px);
  background: #262fd9;
}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(81vw, 29vh, 14px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.37;
  height: 6px;
  width: 6px;
  animation-delay: -6s;
  transform: translate3d(34vw, 54vh, 6px);
  background: #4426d9;
}
/*
 * ANIMATION END
 */
